@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";
        

    *{
        margin: 0;
        border: 0;
        padding: 0;
        box-sizing: border-box;}

    body {
        min-height: 100vh;
        background: whitesmoke;
        position: relative;
        font-family: 'Source Sans Pro', sans-serif;
        display: flex;
        flex-direction: column;
        height: 100%;}

    .maincontainer {
        max-width: 960px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;}

    /*====header====*/

    header {
        padding: 32px;
        background: whitesmoke;}

    header div {
        text-align: left;}

    header div a {
        color: black;
        text-decoration: none;
        font-size: 19px;
        line-height: 29px;      
        margin-left: 28px;}
   
    header div a:hover {
        color: rgb(250, 146, 146);
        transition: color 400ms;}
        
    header div p {
        color: black;
        font-size: 25px;
        margin-top: 20px; }

    /*====banner====*/
    
    .banner {
        width: 940px;
        background: #FBDFDB;
        height: 366px;
        border-radius: 32px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;}
        
    .banner-text {
        align-self: center;
        padding-left: 60px;
        max-width: 440px;}

    .banner-text h3 {
        font-size: 35px;}

    .banner-text p {
        opacity: 70%;
        color: #272626;
        font: bold;
        font-size: 21px;}
    
    .banner .banner-img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 65px;}

    .banner .banner-img img {
        object-fit: contain;}

    .links img {
        margin-right: 80px;}

    /*====footer===*/

    footer {   
        margin-top: auto;
        bottom: 0px;
        background-color: rgb(194, 194, 199);
        padding-top: 16px;
        width: 100%;
        border-radius: 10px;}

    .text-footer {
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 8px;}

    /*====card1====*/

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 50px;
        gap: 20px;}

    .card h1 {
        font-family: Arial, Helvetica, sans-serif;}

    .card1 img{
        border-radius: 15px;
        width: 300px;
        height: 140px;}
        
    .card1 a {
        color: rgb(41, 38, 42);
        text-decoration: none;
        opacity: 0.9;
        cursor: pointer;}
    .card1 a:hover { 
        color: rgb(250, 146, 146);
        transition: 400ms}

    .card1 h1 {        
        font-size: 22px;
        opacity: 0.8;}
    
    /*====card2====*/   
    
    .card2 img {
        border-radius: 15px;
        width: 300px;
        height: 140px;}

    .card2 a {
        color:  rgb(41, 38, 42);
        text-decoration: none;
        opacity: 0.9;
        cursor: pointer;}
    .card2 a:hover { 
        color: rgb(250, 146, 146);
         transition: 400ms;}

    .card2 h1 {        
        font-size: 22px;
        opacity: 0.8;}
    
     /*====card3====*/
     
    .card3 img{
        border-radius: 15px;
        width: 300px;
        height: 140px;}

    .card3 a {
        color:  rgb(41, 38, 42);
        text-decoration: none;
        opacity: 0.9;
        cursor: pointer;}
    .card3 a:hover { 
        color: rgb(250, 146, 146);
         transition: 400ms;}

    .card3 h1 {        
        font-size: 22px;
        opacity: 0.8;}

    /*====wcard4====*/
    
    .card4 img{
        border-radius: 15px;
        width: 300px;
        height: 140px;}

    .card4 a {
        color:  rgb(41, 38, 42);
        text-decoration: none;
        opacity: 0.9;
        cursor: pointer;}
    .card4 a:hover { 
        color: rgb(250, 146, 146);
         transition: 400ms;}

    .card4 h1 {        
        font-size: 22px;
        opacity: 0.8;}
    
    /*====card5====*/
    
    .card5 img{
        border-radius: 15px;
        width: 300px;
        height: 140px;}

    .card5 a {
        color:  rgb(41, 38, 42);
        text-decoration: none;
        opacity: 0.9;
        cursor: pointer;}
    .card5 a:hover { 
        color: rgb(250, 146, 146);
        transition: 400ms;}

    .card5 h1 {        
        font-size: 22px;
        opacity: 0.8;}
    
    /*====card6====*/

    .card6 img{
        border-radius: 15px;
        width: 300px;
        height: 140px;}
 
    .card6 a {
        color:  rgb(41, 38, 42);
        text-decoration: none;
        opacity: 0.9;
        cursor: pointer;}
    .card6 a:hover { 
        color: rgb(250, 146, 146);
        transition: 400ms;}

    .card6 h1 {        
        font-size: 22px;
        opacity: 0.8;}
    
    .tittle-mais h1 {
        font-size: 25px;
        margin-top: 40px;
        margin-bottom: 15px;}

/*=====Cardss "sobre"=====*/
    .cardss {
        max-width: 940px;
        font-size: 18px;
        line-height: 28px;}
    
    .cardss p {
        font-family: 'Roboto', sans-serif;
        color: #444444;
        margin-top: 15px;}
    .cardss a {
        font-family: 'Roboto', sans-serif;
        color: #444444;}
/*====comotudocomecou====*/
    .comotudocomecou {
        margin-top: 20px;}
    .comotudocomecou p {
        margin-bottom: 10px;}

/*====nossasreceitas====*/
    .nossasreceitas {
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;}
    .nossasreceitas p {
        color: #444444;
    }

/*====footercardss====*/
    footer {   
        margin-top: auto;
        bottom: 0px;
        background-color: rgb(194, 194, 199);
        padding-top: 16px;
        width: 100%;
        border-radius: 10px;}

    .footercardsstext {
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 8px;}
 
   